<html>
  <head>
    <title><%=h app_name %></title>
  </head>
  <body>
    <h1>1LineBBS</h1>
    <form action="?_act=write" method="POST">
      <input type="text" name="line" />
      <input type="submit" value="write" />
    </form>
    <hr />
    <div class="lines">
      <%- @lines.each do |line| -%>
      <div class="line"><%=h line %></div>
      <%- end -%>
    </div>
  </body>
</html>
